:root {
    --clr-card-border: rgba(221, 221, 221, 0.20);
    --clr-trans-white: rgba(255, 255, 255, 0.7);

    --clr-neon-blue: #00D5FF;
    --clr-neon-pink: #FF00AA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: none;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Full Page Layout */
#pageGrid {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh auto auto auto;
    grid-template-areas:
        "landing"
        "navigation"
        "programs"
        "phases"
        "footer";
}

/* Landing Page */
#landingContent {
    min-height: 700px;
    grid-area: landing;
    padding-top: 10%;
    padding-left: 10%;
}

h1 {
    width: 40vw;

    font-family: "anton", sans-serif;
    font-weight: 400;
    
    transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); /* WebKit equivalent */
}

#title-section {
    width: 40vw;

    font-size: 100pt;
    margin-top: 0;
    left: 1.75rem;

    position: relative;
}

#landingContent {
    /* z-index: 150; */

    padding-top: 10%;
    padding-left: 10%;
}

#intro-section {
    width: 37vw;

    font-size: 22pt;
    letter-spacing: 0.2rem;
    margin-top: -0.5rem;

    position: relative;
}

#registerButton {
    position: relative;

    padding-left: 60%;
    margin-top: -10rem;
}

#registerButton #buttonText {
    color: white;
    padding-right: 2rem;
}

#registerButton .arrow path {
    fill: white;
}

#registerButton .circle {
    transform: scale(1.6);
    -webkit-transform: scale(1.6); /* WebKit equivalent */
    
    opacity: 0.5;
    border-radius: 50%;
    background: linear-gradient(145deg, var(--clr-gradient-pink), var(--clr-gradient-blue));

    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2; /* WebKit equivalent */

    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out; /* WebKit equivalent */
}

#registerButton .circularButton:hover .circle {
    transform: scale(1.7);
    -webkit-transform: scale(1.7); /* WebKit equivalent */
    
    background: linear-gradient(145deg, var(--clr-gradient-pink), var(--clr-gradient-blue));
    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2; /* WebKit equivalent */

    transition: 500ms ease-out;
    -webkit-transition: 500ms ease-out; /* WebKit equivalent */
}





@media (max-width: 1100px) {
    #landingContent {
        padding-top: 10rem;
    }
}

@media (max-width: 940px) {
    #title-section  {
        margin-top: -5rem;
    }

}

@media (max-width: 650px) {
    #title-section {
        font-size: 50pt;
        margin-top: 0rem;
    }

    #intro-section {
        font-size: 20pt;
        width: 80vw;
    }
}


/* Nav Page */
#navPage {
    grid-area: navigation;

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#navPageOuterContent {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 4rem;
    
    padding-left: 12.5%;
    padding-top: 15%;

    width: 90vw;
    height: 95vh;
    border-radius: 1rem;
    border: 1px solid rgba(112, 112, 112, 0.60);

    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#navPageContent {
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

#navBGImage {
    z-index: -10;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    pointer-events: none;
}

#navBlenderImage {
    z-index: -10;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;

    filter: saturate(90%) contrast(140%) blur(10px) brightness(80%);
}

#navPageLinks {
    display: flex;
    flex-direction: column;

    width: 30vw;

    font-size: 3rem;
    font-size: 31pt;
    gap: 2rem;
}

#navPageLinks a {
    z-index: 100;
    margin-left: 0rem;
    text-decoration: none;
    color: #FFF;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    background: linear-gradient(to right, var(--clr-neon-blue), var(--clr-neon-pink)), linear-gradient(to right, var(--clr-neon-blue), var(--clr-neon-pink));
    background-size: 0% 2px, 0% 2px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;

    transition: 400ms ease;
}

#navPageLinks a:hover {
    margin-left: 1rem;

    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

    background-size: 100% 2px, 100% 2px;

    transition: 500ms;
}

#whyHYTE {
    width: 245px;

    transition: 200ms;
}

#whyHYTE:hover {
    width: 251px;

    transition: 200ms;
}

#meetFounder {
    width: 380px;

    transition: 200ms;
}

#meetFounder:hover {
    width: 392px;

    transition: 200ms;
}

#ourMentors {
    width: 265px;

    transition: 200ms;
}

#ourMentors:hover {
    width: 275px;

    transition: 200ms;
}

#ourPrograms {
    width: 300px;

    transition: 200ms;
}

#ourPrograms:hover {
    width: 310px;

    transition: 200ms;
}

#more {
    text-transform: uppercase;
    margin-bottom: 1rem;
    
    color: grey;
    font-size: 12pt;
}

#navPageButton {
    transform: scale(1.4);

    margin-left: 4rem;
}

#navPageButton .buttonText {
    color: white;
    padding-right: 2rem;
}

#navPageButton .arrow path {
    fill: white;
}

#navPageButton .circle {
    /* z-index: 0; */

    opacity: 0.8;
    border-radius: 50%;
    fill: rgba(2, 0, 100, 0.15);

    box-shadow: none;
    backdrop-filter: blur(4px) saturate(4);
    -webkit-backdrop-filter: blur(4px) saturate(4);

    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out; /* WebKit equivalent */
}

#navPageButton .circularButton:hover .circle {
    transform: scale(1.4);
    -webkit-transform: scale(1.4); /* WebKit equivalent */

    background: none;
    fill: rgba(2, 0, 100, 0.15);

    backdrop-filter: blur(6px) saturate(6);
    -webkit-backdrop-filter: blur(6px) saturate(6);

    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2; /* WebKit equivalent */

    transition: 500ms ease-out;
    -webkit-transition: 500ms ease-out; /* WebKit equivalent */
}

/* BUTTON CUSTOMIZATION ENDS */

/* Programs Page */
#programsSection {
    z-index: 10;
    min-height: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-area: programs;
    position: relative;
    height: 100vh;
    background-image: url("../Main/images/Lines(large).png");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

#programsContent {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 2rem;
    /* align-items: center; */
    position: relative;


}

#programsText {
    width: 40vw;
    margin-left: 8rem;
}

#programsHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#programsOur {
    margin-bottom: -1rem;
    
    color: #D9D9D9;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 60pt;
}

#programsPrograms {
    color: #FFF;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);

    font-size: 65pt;
}

#programsDescription {
    margin-top: 2rem;
    color: #FFF;
    font-size: 26pt;
}

#programsGraphic {
    pointer-events: none;
}

#programsGraphicButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#programsButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;

    transform: scale(1.3);
    -webkit-transform: scale(1.3); /* WebKit equivalent */
}

#programsButton .arrow path {
    fill: white;
}

#programsButton .circle {
    opacity: 0.8;

    border-radius: 50%;
    fill: rgba(2, 0, 100, 0.15);

    box-shadow: none;
    backdrop-filter: blur(6px) saturate(2) contrast(1.25);
    -webkit-backdrop-filter: blur(6px) saturate(2) contrast(1.25);

    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out; /* WebKit equivalent */
}

#programsButton .circularButton:hover .circle {
    transform: scale(1.4);
    -webkit-transform: scale(1.4); /* WebKit equivalent */

    background: none;
    fill: rgba(2, 0, 100, 0.15);

    backdrop-filter: blur(8px) saturate(3) contrast(1.5);
    -webkit-backdrop-filter: blur(8px) saturate(3) contrast(1.5);

    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2; /* WebKit equivalent */

    transition: 500ms ease-out;
    -webkit-transition: 500ms ease-out; /* WebKit equivalent */
}

#programsFrame {
    margin-top: -4rem;

    transform: scale(0.8);

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    z-index: 10;
}

.left-line {
    margin-right: -10px;
}

.arc {
    margin: 0;
    padding: 0;
}

.right-line {
    margin-left: -10px;
}




/* Program Phases */
#programPhases {
    position: relative;

    min-height: 1100px;

    z-index: 50;
    
    grid-area: phases;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 95%);
    
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}


#phaseContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Main/images/lines(normal).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Blur the background image */
    z-index: -1; /* Ensure it is behind the content */
}

#phaseContent {
    position: relative;
    z-index: 1;
    background: none;

    width: 90%;
    height: 95%;
    
    margin-top: 2rem;
    margin-bottom: 2rem;

    border-radius: 1rem;
    border: 1px solid rgba(112, 112, 112, 0.60);
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#phaseHeader {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.75);

}


#phaseLogo {
    font-size: 100pt;
    letter-spacing: 0.2rem;
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#phaseTitle {
    margin-top: -1rem;
    font-size: 40pt;
}

#phaseGraphic {
    z-index: -10;
    pointer-events: none;

    position: absolute;
    width: 70%;
    height: auto;
    bottom: 300px;
    right: 15%;
    border-radius: 50%;

    filter: saturate(170%) brightness(110%) contrast(80%);
}

#phaseText {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}

#phases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    gap: 4rem;
    margin-top: 3rem;
    margin-left: 4.5rem;
    width: 35rem;
    font-size: 30pt;
}

.phase {
    cursor: pointer;
    color: #848484;
    position: relative;
}

.phase::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #848484;
    left: 0;
    bottom: -1rem;

    transition: background 0.5s ease-out;
}

.phase.active {
    color: #FFEFE7;
}

.phase.active::after {
    background: linear-gradient(to right, #dd00ff, #00FFE0);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    animation: slideIn 3s ease-out forwards;
}

@keyframes slideIn {
    from {
        background-size: 0% 1px;
    }

    to {
        background-size: 100% 1px;
    }
}

.phase:hover {
    color: #FFEFE7;
}

.phase:hover::after {
    background: linear-gradient(to right, #dd00ff, #00FFE0);
}

#techPhase,
#entrePhase,
#compPhase {
    cursor: pointer;
}

#phaseDescriptions {
    font-size: 18pt;
    margin-left: 5rem;
}

.description {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 32.5vw;
}

.description.active {
    display: block;
    opacity: 1;
}

#techDescription,
#entreDescription,
#compDescription {
    position: absolute;
}

/* Phase Background */
#phaseBG {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
    pointer-events: none;
}

#blueShape,
#pinkShape,
#greenShape {
    position: absolute;

    transform: scale(0.4);
    opacity: 0.5;
    filter: blur(0px);
}

#blueShape {
    top: 10%;
    left: 10%;
    fill: blue;
}

#pinkShape {
    top: 20%;
    left: 30%;
    fill: red;
}

#greenShape {
    bottom: 10%;
    right: 10%;
    fill: green;
}

/* Footer Page */
#footerPage {
    height: auto;

    grid-area: footer;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}

/* Responsive Edits */
/* DESKTOPS */
/* 4K: 3840 x 2160 pixels */
@media only screen and (max-width: 3840px) {}

/* 2K: 2560 x 1440 pixels */
@media only screen and (max-width: 2560px) {
    
}

/* Full HD: 1920 x 1080 pixels */
@media only screen and (max-width: 1920px) {

}

/* SMALL LAPTOPS */
/* MacBook Pro 13-inch: 2560 x 1600 pixels (scaled resolution) */
@media only screen and (max-width: 2560px) {}

/* MacBook Air 13-inch: 1440 x 900 pixels */
@media only screen and (max-width: 1440px) {}


/* EXTRA, DO NOT DUPLICATE */
/* PHASE TRANSITION */
@media only screen and (min-width: 1290px) {
    #phaseSmaller {
        display: none !important;
    }
}

#phaseSmaller {
    width: 90%;
    margin-left: 5%;
    margin-top: 4rem;

    min-height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.smallerPhaseTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.smallerPhaseDescription {
    width: 80%;
    font-size: 16pt;
}

.smallerPhaseDivider {
    width: 80%;
    margin: 2rem;
}

@media only screen and (max-width: 1289px) {
    

    #phaseContent {
        justify-content: center;
        align-items: center;

        min-height: 1500px;
    }

    #phaseText {
        display: none;
    }

    #pageGrid {
        width: 100vw;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 110vh auto;
        grid-template-areas:
            "landing"
            "navigation"
            "programs"
            "phases"
            "footer";
    }
}

@media only screen and (max-width: 1235px) {
    #navPageOuterContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto; 
        overflow: visible;
    }
    
    #navPageContent {
        width: 100%;
        
        margin: 0;
    }
    
    #navPageButton {
        position: static;
    
        padding: 0;
        margin: 0;
        margin-bottom: 4rem;
        padding-left: 30vw;
    }
}


@media (min-width: 1100px) {
    #landingContent {
        /* margin-top: 10rem; */
        margin-bottom: 10rem;
    }

    #registerButton {
        transform: scale(1.2);
        -webkit-transform: scale(1.2); /* WebKit equivalent */
    }
}

@media (max-width: 1100px) {
    #registerButton {
        margin-left: 10%;
    }

    #programsContent {
        align-items: center;
    }

    #programsText {
        margin-left: -8rem;
    }
}

@media (max-width: 875px) {

    #navPageButton {
        margin-left: 0%;
        top: 65%;
        left: 0%;
        
    }
}

@media (max-width: 945px) {
    /* Specific styles for screens smaller than 945px can be added here */
}

@media (max-width: 1185px) and (min-width: 801px) {
    #programsGraphicButton {
        margin-top: 6rem;
    }
}
/* EXTRA, DO NOT DUPLICATE */


/* Tablets */
/* Apple iPad (landscape): 1024 x 768 pixels */
@media only screen and (max-width: 1024px) {}


/* Samsung Galaxy Tab S7: 800 x 1280 pixels */
@media only screen and (max-width: 800px) {
    #landingContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    #title-section {
        font-size: 80pt;
    }

    #registerButton {
        padding: 0;
        margin: 0;

        padding-top: 4rem;
        left: 40%;
        
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
    }

    #intro-section {
        width: 60vw;
        font-size: 18pt;
    }

    #navPageButton {
        transform: scale(1);  
    } 

    #programsSection {
        /* height: 110vh; */
        background-size: 200%;
    }


    #programsOur {
        font-size: 45pt;
    }

    #programsPrograms {
        font-size: 50pt;
    }

    #programsDescription {
        font-size: 20pt;
        width: 50vw;

        margin-bottom: 4rem;
    }
}

/* Apple iPad (portrait): 768 x 1024 pixels */
@media only screen and (max-width: 768px) {

}



/* EXTRA, DO NOT DUPLICATE */
/* @media only screen and (min-width: px) and (max-width: 800px) {} */

@media (max-width: 600px) {
    #registerButton {
        padding-top: 6rem;
    }
}

@media (max-width: 550px) {
    #title-section {
        right: 0;
        top: 5%;
    }

    #intro-section {
        width: 70vw;
        top: 5%;
        font-size: 16pt;
    }

    #programsText {
        margin-left: -8rem;
    }

    #programsOur {
        padding-top: 5rem;
        font-size: 35pt;
    }

    #programsPrograms {
        font-size: 40pt;
    }

    #programsDescription {
        font-size: 16pt;
        width: 60vw;
    }

    #phaseContent {
        height: 100%;
    }

    #phaseHeader {
        margin-top: 50px;
    
    }


}

@media (max-width: 515px) {
    #navPageLinks {
        font-size: 24pt; 
    }

    #programsSection {
        background-size: 300%;
    }

}

@media (max-width: 400px) {
    #title-section {
        font-size: 70pt;
        margin-left: 0;
    }

    #intro-section {
        width: 80%;
        margin: 0;
        padding-left: 10px;
    }
}

/* EXTRA, DO NOT DUPLICATE */


/* MOBILE DEVICES */
/* Apple iPhone XR/11: 414 x 896 pixels */
@media only screen and (max-width: 414px) {
    #landingContent {
        margin-top: 2rem;
        padding: 0;
    }

    #title-text,
    #intro-text {
        margin-left: 2rem;
    }

    #intro-text {
        width: 80vw;
    }

    #navPageLinks {
        font-size: 20pt;
    }

    #programsContent {
        height: 100%;
    }

    #programsOur {
        padding-top: 5rem;
        font-size: 30pt;
    }

    #programsPrograms {
        font-size: 34pt;
    }

    #programsDescription {
        font-size: 14pt;
        width: 80vw;
    }

    #programsContent::before {
        left: 10%;
    }

    #programsGraphicButton {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); /* WebKit equivalent */

    }

    #programPhases {
        height: auto;
    }

    #phaseContent {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        position: relative;
    }

    #phaseHeader {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #phaseLogo {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 48pt;
    }

    #phaseTitle {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 24pt;
    }

}

/* Apple iPhone 12/13 Pro: 390 x 844 pixels */
@media only screen and (max-width: 390px) {}

/* Apple iPhone SE: 375 x 667 pixels */
@media only screen and (max-width: 375px) {}

/* Samsung Galaxy S21: 360 x 800 pixels */
@media only screen and (max-width: 360px) {}


