:root {
    /* Add any CSS variables here if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Add body styles here if needed */
}

/* Full Page Layout */
#pageGrid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh 100vh 80vh;
    grid-template-areas:
        "landing"
        "why2"
        "why3"
        "footer";
}

/* Landing Area */
#linesImageLanding {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 150%;
    height: 150%;
    opacity: 0.5;
    background: url("./images/lines.png") no-repeat center center;
    background-size: cover;
}

.linesImage {
    position: absolute;
    scale: 0.225;
    border-radius: 50%;
    filter: contrast(1.1) saturate(1.1) brightness(1.1) hue-rotate(360deg);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
}

#whyLanding {
    grid-area: landing;
    z-index: 10;
    background: rgba(0, 0, 0, 0.69);
    display: flex;
}

#landingText {
    flex-direction: column;
    position: absolute;
    left: 7.5%;
    top: 30%;
    justify-content: left;
    align-items: left;
}

#whyText {
    color: #CDCDCD;
    font-family: Montserrat, sans-serif;
    font-size: 26pt;
    font-weight: 300;
    padding-left: 7.5%;
    margin-bottom: -5%;
}

#hyteText {
    font-size: 110pt;
    font-style: italic;
    transform: skewX(-15deg);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    width: 40vw;
    padding-left: 15px;
}

.paragraph {
    font-size: 16pt;
}

#whyParagraph {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    width: 35vw;
}

#landingImage {
    position: absolute;
    left: 45%;
    top: 17.5%;
    width: 50vw;
    height: 60vh;
    background: url("./images/landing.png") lightgray 50% / cover no-repeat;
}

/* Why 2 Section */
#why2 {
    grid-area: why2;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0.00) 57.5%);
}

#why2Image {
    position: absolute;
    right: 55%;
    width: 42.5vw;
    height: 50vh;
    background: url("./images/image2.png") lightgray 50% / cover no-repeat;
}

#why2Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    left: 50%;
    width: 45vw;
}

#why2Text1 {
    padding-bottom: 10%;
}

#why2Design {
    scale: 0.8;
    margin-right: 100%;
    justify-self: left;
}

#image1 {
    transform: scale(1.2);
    position: absolute;
    margin-left: 147.5px;
    margin-top: -335px;
}

#why2Text2 {
    padding-top: 10%;
}

/* Why 3 Section */
#linesImageWhy3 {
    position: absolute;
    bottom: 5%;
    right: -22.5%;
    width: 120%;
    height: 120%;
    background: url("./images/lines.png") no-repeat center center;
    background-size: cover;
}

#why3 {
    grid-area: why3;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 45%, rgba(0, 0, 0, 0.69) 100%);
}

#why3Image {
    position: absolute;
    left: 55%;
    width: 42.5vw;
    height: 50vh;
    background: url("./images/image3.png") lightgray 50% / cover no-repeat;
}

#why3Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    right: 50%;
    width: 45vw;
}

#why3Text1 {
    padding-bottom: 10%;
}

#why3Design {
    scale: 0.8;
    margin-right: 100%;
    justify-self: left;
}

#image2 {
    transform: scale(1.2) rotate(180deg);
    position: absolute;
    margin-left: 147.5px;
    margin-top: -335px;
}

#why3Text2 {
    padding-top: 10%;
}

/* Footer */
#linesImageFooter {
    position: absolute;
    width: 200%;
    height: 200%;
    opacity: 0.6;
    background: url("./images/lines.png") no-repeat center center;
    background-size: cover;
    top: -10rem;
    left: -5rem;
}

#footerPage {
    grid-area: footer;
    position: relative;
    z-index: 5;
    overflow-y: hidden;
    margin-bottom: -6.5rem;
    padding-bottom: 7.5rem;
    background: rgba(0, 0, 0, 0.69);
}
