:root {
    /* Add any CSS variables here if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Add body styles here if needed */
}

/* Full Page Layout */
#pageGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "landing"
        "why2"
        "why3"
        "footer";

    overflow: hidden;
}

/* LANDING PAGE */
#whyLanding {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.69) url("./images/lines.png") no-repeat center center;
    background-size: 150%;

    padding-bottom: 6rem;
}


#landingContent {
    margin-left: 5vw;
    margin-top: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 5vw;
}

#landingText {
    width: 40vw;
}

#landingHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

#whyText {
    margin-bottom: -3rem;
    margin-left: 1rem;
    color: #CDCDCD;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 30pt;
}

#hyteText {
    color: #D9D9D9;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 150pt;

    width: 40vw;

    font-family: "anton", sans-serif;
    font-weight: 400;
    
    transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
}

.paragraph {
    color: #FFF;
    font-size: 16pt;
}

#landingIntro {
    margin-top: 2rem;
    font-size: 18pt;
}


#landingImage {
    /* background-color: yellow; */
    width: 45vw;
    height: 60vh;
    background: url("./images/landing.png") no-repeat center center;
    background-size: cover;
}
/* LANDING PAGE */

/* WHY HYTE CONTENTS */
#whyHYTEContent {
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    overflow: hidden;

    padding-left: 5vw;
    padding-right: 5vw;

    position: relative;
    background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.69) 10%, 
    rgba(0, 0, 0, 0.2) 50%, 
    rgba(0, 0, 0, 0.69) 90%
    );
    /* background-color: yellow; */
}

/* CONTENT FIRST PAGE */
#why2 {
    grid-area: why2;
    width: 100%;
    height: 100%;

    margin-top: 6rem;
    margin-bottom: 6rem;
}

.sectionOuterContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 4rem;
}

.sectionInnerContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45vw;
}

#why2Content {
    
}

.whyImage {
    z-index: 10;

    width: 35vw;
    height: 40vh;
}

#why2Image {
    background: url("./images/image2.png");  
    background-size: cover;
}

#why2RightContent {
    
}

#content1Paragraph1 {}

.graphicDivider {
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../Main/images/lines\(normal\).png") no-repeat center center;
    background-size: 300px;

    overflow: visible;

    margin-top: 2rem;
    margin-bottom: 2rem;

    transform: scale(0.8);
}

.linesImage {}

#content1Paragraph2 {}
/* CONTENT FIRST PAGE */


/* CONTENT SECOND PAGE */
#why3 {
    grid-area: why3;
    width: 100%;
    height: 100%;

    margin-top: 6rem;
    margin-bottom: 6rem;

    
}

#linesImageWhy3 {}

#why3Content {
}

.why3Image {
    background: url("./images/image3.png");
    background-size: cover;
}

#why3LeftContent {
    
}

#content2Paragraph1 {}
/* CONTENT SECOND PAGE */
/* WHY HYTE CONTENTS */


#footerPage {
    grid-area: footer;
    position: relative;
    z-index: 5;
    overflow-y: hidden;
    margin-bottom: -6.5rem;
    padding-bottom: 7.5rem;
    position: relative;
    background: rgba(0, 0, 0, 0.69) url("./images/lines.png") no-repeat center center;
    background-size: 200vw;
}

@media only screen and (min-width: 1750px) {

}

@media only screen and (min-width: 1441px) {
    #footerPage {
        background-size: 3000px;
    }
}

@media only screen and (max-width: 1100px) {
    /* #pageGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 100vh 80vh;
        grid-template-areas:
            "landing"
            "why2"
            "why3"
            "footer";
    } */

    #whyLanding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        background-size: 200%;

    }

    #landingText {
        width: 60vw;
    }

    #landingImage {
        display: none;
    }

}


@media only screen and (max-width: 960px) {


    #footerPage {
        overflow: hidden;

        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #footerContent {
        width: 80%;
        height: 100%;
    }

    #footerBranding h3 {
        padding-top: 0rem;
        padding-left: 0rem;
    }

    #footerBranding {
        margin: 0;
    }

    #topRowFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        margin-top: 0rem;
    }

    #footerLogo {
        font-size: 100pt;
        padding-top: 0rem;
    }

    #clickableFooter {
        padding: 0;
    }

    #footerButton {
        margin: 0;
        /* padding-bottom: 6rem; */
        padding: 0;
        padding-top: 6rem;
    }

    #contactInfo {
        margin-bottom: 4rem;
        margin-top: 2rem;
        padding: 0;

    }

    #footerMore {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .linkTitle {
        font-size: 14pt;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 20vw;
    }

    #program {
        display: flex;
        flex-direction: column;

        padding-left: 0rem;
    }


    #followInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #footerIconButtons {
        transform: scale(0.6);
        display: flex;

        margin-left: -4rem;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #established {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }

    #estInfo {
        font-size: 12pt;

    }
}

@media only screen and (min-width: 801px) {
    #smallscreenImage {
        display: none;
    }

    .smallscreenBreak {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    #whyLanding {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        gap: 5vw;

        background-size: 300vw;
    }

    #landingContent {
        margin-top: 10vh;
    }

    #landingText {
        margin-top: 8rem;
        margin-left: 1rem;
    }

    #landingIntro {
        width: 80vw;
        font-size: 18pt;
    }

    .whyImage {
        width: 70vw;
    }

    .sectionOuterContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4rem;
    }

    .sectionInnerContent {
        width: 70vw;
    }

    #fullscreenImage {
        display: none;
    }

    #footerPage {
        background-size: 300vw;
    }
}

@media only screen and (max-width: 620px) {

    #landingContent {
        margin-top: 5vh;
    }

    #landingHeader {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 1rem;
    }
    
    #whyText {
        font-size: 18pt;
        margin-bottom: -2rem;
    }
    
    #hyteText {
        font-size: 100pt;
    }

    #landingIntro {
        width: 80vw;
        font-size: 16pt;
    }

    #footerPage {
        background-size: 400vw;
    }
}

@media only screen and (max-width: 480px) {
    #estInfo {
        font-size: 10pt;

    }
}