:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}



#pageGrid {
    display: grid;
    /* This line is essential for enabling grid layout */
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-areas:
        "landing"
        "founder2"
        "footer";

}

#image1 {
    position: absolute;
    transform: scale(7.5);
    opacity: 0.3;
    border-radius: 50%;
    top: 30%;
    right: 65%;

}

/* LANDING AREA */
#founderLanding {
    grid-area: landing;

    display: flex;
    flex-direction: row;

    position: relative;
background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

}

#founderTitle {
    position: absolute;
    top: 60vh;
    left: 5%;
}

#our {
    font-size: 36pt;
    margin-bottom: -15px;

}

#founder {
    font-size: 80pt;
    font-weight: 300;
    margin-left: -10px;
}

.founderLandingImage {
    position: absolute;
    transform: scale(0.8);
    height: 80%;
    width: 62.5%;
    left: 40%;
    top: 7.5%;

    border-radius: 5px;

    object-fit: cover;
}

/* LANDING AREA */

/* PAGE 2 */
.linesImage {
    position: absolute;
    scale: 0.225;
    border-radius: 50%;
    filter: contrast(1.1) saturate(1.1) brightness(1.1) hue-rotate(360deg);
    -webkit-mask-image: radial-gradient(circle,
            rgba(0, 0, 0, 1) 50%,
            /* Fully opaque within the inner 85% */
            rgba(0, 0, 0, 0.2) 65%,
            rgba(0, 0, 0, 0) 100%
            /* Fully transparent at the outer 15% */
        );
    mask-image: radial-gradient(circle,
            rgba(0, 0, 0, 1) 50%,
            /* Fully opaque within the inner 85% */
            rgba(0, 0, 0, 0.2) 65%,
            rgba(0, 0, 0, 0) 100%
            /* Fully transparent at the outer 15% */
        );
    -webkit-mask-size: cover;
    mask-size: cover;
}

#image2 {
    z-index: -10;
    transform: rotate(44deg);

    transform: scale(4);
    left: 30%;
    top: 15%;

    opacity: 0.1;
}

#founderPage2{
    grid-area: founder2;
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.headshot{
    z-index: 10;
    position: absolute;
    transform: scale(0.5);
    right: 65%;
    bottom: 20%;
    border-radius: 20px;

    height: 650px;
    width: 450px;

    object-fit: cover;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#page2Glass {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 70vw;
    height: 80vh;
    
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

#titlePiece {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
}

#name {
    font-size: 32pt;
    font-weight: 200;
}

#role {}

#founderAboutMe {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between; 

    width: 52rem;

    padding-left: 10rem;
    gap: 2rem;
}

.aboutMe {
    line-height: 1.5rem;
}

#paragraph1 {}
#paragraph2 {}
#paragraph3 {}

/* PAGE 2 */


/* FOOTER PAGE */
#footerPage {
    grid-area: footer;
    z-index: 0;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
/* FOOTER PAGE */

/* FOLLOWER PAGE */
.followerPage {
    z-index: 1;
}
/* FOLLOWER PAGE */