:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    pointer-events: none;
}

body {}

#pageGrid {
    display: grid;
    grid-template-columns: 1fr; /* Use 1fr for flexibility */
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "landing"
        "founder2"
        "footer";
    width: 100%; /* Ensure the grid container takes full width */

    overflow: hidden;

    background: rgba(0, 0, 0, 0.25);
}

#image1 {
    position: absolute;
    transform: scale(7.5);
    opacity: 0.3;
    border-radius: 50%;
    top: 30%;
    right: 65%;
}

/* LANDING AREA */
#founderLanding {
    grid-area: landing;

    position: relative;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    padding: 4rem;
    padding-top: 8rem;

    margin-bottom: 10rem;
}

#landingContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#founderTitle {
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#our {
    margin-bottom: -1rem;
    color: #CDCDCD;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 60pt;
}


#founder {
    font-size: 65pt;
    font-weight: 300;
}

.founderLandingImage {
    height: 65vh;
    width: 50vw;
    border-radius: 5px;
    object-fit: cover;
}

/* PAGE 2 */
#founderPage2 {
    grid-area: founder2;
}

#founderContent {
    margin-bottom: 4rem;
}

#founderInnerContent {
    width: auto;
    height: auto;

    background: url("../Main/images/lines\(normal\).png") no-repeat center center;
    background-size: cover;

}

.linesImage {
    position: absolute;
    scale: 0.225;
    border-radius: 50%;
    filter: contrast(1.1) saturate(1.1) brightness(1.1) hue-rotate(360deg);
    -webkit-mask-image: radial-gradient(circle,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.2) 65%,
            rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0.2) 65%,
            rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;
}

#image2 {
    z-index: -10;
    transform: rotate(44deg) scale(4); /* Combine transformations */
    left: 30%;
    top: 15%;
    opacity: 0.1;
}

#founderPage2 {
    grid-area: founder2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.headshot {
    z-index: 10;
    position: absolute;
    transform: scale(0.5);
    right: 65%;
    bottom: 20%;
    border-radius: 20px;
    height: 650px;
    width: 450px;
    object-fit: cover;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#page2Glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: auto;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#titlePiece {
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
}

#name {
    font-size: 32pt;
    font-weight: 200;
}

#role {}

#founderAboutMe {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    width: 52vw;
    padding-left: 7.5vw;
    margin-bottom: 6rem;
    gap: 2rem;
}

.aboutMe {
    line-height: 1.5rem;
}

#paragraph1 {}
#paragraph2 {}
#paragraph3 {}

/* FOOTER PAGE */
#footerPage {
    grid-area: footer;
    height: auto;
    z-index: 0;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

/* FOLLOWER PAGE */
.followerPage {
    z-index: 1;
}

@media only screen and (max-width: 1300px) {
    #our {
        font-size: 50pt;
    }
    
    
    #founder {
        font-size: 55pt;
    }
}

@media only screen and (max-width: 1100px) {
    #founderLanding {
        grid-area: landing;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        padding: 4rem;
        padding-top: 4rem;
    }

    #landingContent {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 4rem;
    }
    
    #founderTitle {
        margin-top: 10vh;
    }
    
    #our {
        margin-bottom: -1rem;
        color: #CDCDCD;
        text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
        font-size: 60pt;
    }
    
    
    #founder {
        font-size: 65pt;
        font-weight: 300;
    }
    
    .founderLandingImage {
        height: 60vh;
        width: 70vw;
        border-radius: 5px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 960px) {
    #founderTitle {
        margin-top: 10vh;
    }
    
    #founderOuterContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        width: 100vw;
    }

    #founderContent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
    }

    #founderPage2 {
        grid-area: founder2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100vw;
    }
    
    .headshot {
        position: static;
        transform: scale(0.5);
        height: 650px;
        width: 450px;

        padding: 0;
        margin: 0;

        margin-bottom: -12rem;
    }
    
    #page2Glass {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw; 
    }
    
    #name {
        font-size: 26pt;
    }
    
    #founderAboutMe {
        width: 70vw;
        padding: 0;
        margin-bottom: 2rem;
    }


    /* FOOTER EDITS, DO NOT CHANGE */

    #footerPage {
        overflow: hidden;

        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #footerContent {
        width: 80%;
        height: 100%;
    }

    #footerBranding h3 {
        padding-top: 0rem;
        padding-left: 0rem;
    }

    #footerBranding {
        margin: 0;
    }

    #topRowFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 10vw;

        margin-top: 0rem;
    }

    #footerLogo {
        font-size: 100pt;
        padding-top: 0rem;
    }

    #clickableFooter {
        padding: 0;
    }

    #footerButton {
        margin: 0;
        /* padding-bottom: 6rem; */
        padding: 0;
        padding-top: 6rem;
    }

    #contactInfo {
        margin-bottom: 4rem;
        margin-top: 2rem;
        padding: 0;

    }

    #footerMore {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .linkTitle {
        font-size: 14pt;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 20vw;
    }

    #program {
        display: flex;
        flex-direction: column;

        padding-left: 0rem;
    }


    #followInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #footerIconButtons {
        transform: scale(0.6);
        display: flex;

        margin-left: -4rem;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #established {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }

    #estInfo {
        font-size: 12pt;

    }


}

@media only screen and (max-width: 760px) {
    #footerButton {
        transform: scale(1);
        padding-top: 2rem;
    }

    #page2Glass {
        width: 100vw;
    }
    
    #founderAboutMe {
        width: 80vw;
    }
}

@media only screen and (max-width: 660px) {
    #footerBranding h3 {
        margin-right: 5vw;
    }
}

@media only screen and (max-width: 650px) {
    #founderLanding {
        padding: 2rem;
        margin: 0;
    }
    
    #landingContent {
        margin: 0;
    }

    
    #our {
        font-size: 40pt;
    }
    
    #founder {
        font-size: 45pt;
    }
    
    .founderLandingImage {
        width: 80vw;
    }
}

@media only screen and (max-width: 500px) {
    #footerButton {
        transform: scale(0.8);
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 445px) {
    #footerLinks {
        font-size: 10pt;
    }

    .linkTitle {
        font-size: 11pt;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
    }
}

@media only screen and (max-width: 395px) {
    #our {
        font-size: 35pt;
    }
    
    #founder {
        font-size: 40pt;
    }
}