:root {}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #000211;
    height: 100vh;
    overflow: hidden;
} */ 




#blob {
    z-index: -102;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    height: 300px;
    aspect-ratio: 1;

    background: linear-gradient(to right, #00ffff, #ff00ff);
    border-radius: 50%;
    pointer-events: none;

    animation: rotate 15s infinite;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blobContainer {
    z-index: -100;

    height: 100%;
    width: 100%;
    position: fixed;
}

#blur {
    z-index: -100;

    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(200px) ;
    -webkit-backdrop-filter: blur(200px) ;
}