:root {
    /* You can define CSS variables here if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* You can add styles for the body if needed */
}

#mentorsGrid {
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
        "landing"
        "mentors"
        "footer";
}

/* LANDING SECTION STARTS */
#landingSection {
    grid-area: landing;
    overflow: visible;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

#landingBG {
    z-index: -10;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-image: url('../Main/images/lines(BG).png');
    background-size: cover;
    background-position: center;
}


#landingContent {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    margin-bottom: 5rem;
}

#landingText {
    width: 50vw;

    margin-left: 4rem;
    margin-top: 30vh;
}

#landingHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#our {
    margin-bottom: -1rem;
    color: #D9D9D9;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 60pt;
}

#mentors {
    color: #FFF;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 65pt;
}

#landingParagraph {
    width: 90%;
    margin-top: 2rem;
    color: #FFF;
    font-size: 26pt;
}

#landingCaption {
    /* Add styles if needed */
}


/* LANDING SECTION ENDS */

/* MENTORS MAIN SECTION STARTS */
#mentorsMain {
   
    grid-area: mentors;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));

}

#mentorsContent {
    margin-top: 15vh;
    width: 85%;
    height: auto; 
}

#cardsSection1,
#cardsSection2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.mentorCard {
    height: 400px;
    width: 350px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mentorImage {
    width: 100%;
    border-radius: 6px;
}

.cardText {}

.mentorName {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16pt;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15rem;

    margin-top: 1rem;
}

/* .mentorFirstName,
.mentorLastName {
    color: #FFF;
    font-size: 18pt;
} */


.mentorBio {
    height: 2.5rem;
    margin-top: 0.75rem;
    margin-bottom: -0.5rem;

    font-size: 14pt;
}

.mentorLine {
    width: 100%;
}

.mentorLinkedIn {
    margin-top: 0.5rem;
}

.linkedInLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
}

.linkedInLogo {
    padding: 0;
    margin: 0;
}

.linkedInConnect {
    color: rgba(255, 255, 255, 0.70);

    text-align: center;
    font-family: Montserrat;
    font-size: 10pt;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1125rem;

    margin-bottom: 5px;
}

.dividerDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.dividerSVG {
    transform: scale(1.2);
}

.dividerImage {
    transform: scale(0.28);
    margin-top: -39.5rem;
    margin-bottom: -24rem;
    padding: 0;
}


/* FOOTER SECTION */
#footerPage {
    grid-area: footer;
    width: auto;
    
}

@media only screen and (max-width: 1100px) {
    #landingParagraph {
        width: 55vw;
    }
}

@media only screen and (max-width: 960px) {


    #footerPage {
        overflow: hidden;
        
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #footerContent {
        width: 80%;
        height: 100%;
    }

    #footerBranding h3 {
        padding-top: 0rem;
        padding-left: 0rem;
    }

    #footerBranding {
        margin: 0;
    }

    #topRowFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        margin-top: 0rem;
    }

    #footerLogo {
        font-size: 100pt;
        padding-top: 0rem;
    }

    #clickableFooter {
        padding: 0;
    }

    #footerButton {
        margin: 0;
        /* padding-bottom: 6rem; */
        padding: 0;
        padding-top: 6rem;
    }

    #contactInfo {
        margin-bottom: 4rem;
        margin-top: 2rem;
        padding: 0;

    }

    #footerMore {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .linkTitle {
        font-size: 14pt;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 20vw;
    }

    #program {
        display: flex;
        flex-direction: column;

        padding-left: 0rem;
    }


    #followInfo {
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start;
        align-items: flex-start;
    }

    #footerIconButtons {
        transform: scale(0.6);
        display: flex;

        margin-left: -4rem;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #established {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }

    #estInfo {
        font-size: 12pt;

    }
}

@media only screen and (max-width: 660px) {
    #landingContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10rem;
    }

    #landingText {
        margin: 0;
        padding: 0;
        margin-left: 6rem;
    }

    #our {
        font-size: 55pt;
    }

    #mentors {
        font-size: 60pt;
    }

    #landingParagraph {

        width: 60vw;
    }

}

@media only screen and (max-width: 600px) {

    #landingText {
        margin: 0;
        padding: 0;
        margin-left: 6rem;
    }

    #landingHeader {
        gap: 1rem;
    }

    #our {
        font-size: 40pt;
    }

    #mentors {
        font-size: 45pt;
    }

    #landingParagraph {
        font-size: 24pt;
    }

}

@media only screen and (max-width: 480px) {
    #estInfo {
        font-size: 10pt;

    }
}

@media only screen and (max-width: 460px) {

    #landingText {
        padding-top: 10vh;
        margin-left: 4rem;
    }

    #our {
        font-size: 35pt;
    }

    #mentors {
        font-size: 40pt;
    }

    #landingParagraph {
        font-size: 18pt;
    }

}

@media only screen and (max-width: 445px) {
    #footerLinks {
        font-size: 10pt;
    }

    .linkTitle {
        font-size: 11pt;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
    }
}

@media only screen and (max-width: 440px) {
    .mentorCard {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 400px) {

    #landingText {
        margin-left: 2rem;
    }

    #our {
        font-size: 35pt;
    }

    #mentors {
        font-size: 40pt;
    }

    #landingParagraph {
        font-size: 18pt;
    }

}