:root {
    /* You can define CSS variables here if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

#programsGrid {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
        "landing"
        "programs"
        "footer";

    overflow: hidden;

    transition: 0.4 ease-in-out;
}

/* LANDING SECTION STARTS */
#landingSection {
    grid-area: landing;

}

#landingBG {
    z-index: -10;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-image: url('../Main/images/lines(BG).png');
    background-size: cover;
    background-position: center;
}

#landingContent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

#landingText {
    width: 50vw;
    margin-left: 4rem;
    margin-top: 30vh;
}

#landingHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#our {
    margin-bottom: -1rem;
    color: #CDCDCD;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 60pt;
}

#programs {
    color: #D9D9D9;
    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
    font-size: 65pt;
}

#landingParagraph {
    width: 90%;
    margin-top: 2rem;
    color: #FFF;
    font-size: 26pt;
}

#programsGraphicButton {
    margin-top: 5rem;
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#programsButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.clickableButton {
    margin-right: -10rem;

}

#programsButton .arrow path {
    fill: white;
}

#programsButton .circle {
    opacity: 0.8;

    border-radius: 50%;
    fill: rgba(2, 0, 100, 0.15);

    box-shadow: none;
    backdrop-filter: blur(2px) saturate(1.25) contrast(1.5);
    -webkit-backdrop-filter: blur(2px) saturate(1.25) contrast(1.75);

    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    /* WebKit equivalent */
}

#programsButton .circularButton:hover .circle {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    /* WebKit equivalent */

    background: none;
    fill: rgba(2, 0, 100, 0.15);

    backdrop-filter: blur(3px) saturate(1.5) contrast(4);
    -webkit-backdrop-filter: blur(3px) saturate(1.5) contrast(4);

    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    /* WebKit equivalent */

    transition: 500ms ease-out;
    -webkit-transition: 500ms ease-out;
    /* WebKit equivalent */
}

#programsFrame {
    transform: scale(0.85);
}

/* LANDING SECTION ENDS */


/* PROGRAMS SECTION STARTS */
#programsSection {
    grid-area: programs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    overflow: hidden;

    transition: 0.4s ease-in-out;
}

#programsContent {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    /* overflow: hidden; */

    transition: 0.4s ease-in-out;
}

.courseBG {
    width: 85vw;
    height: auto;
    transition: 0.4s ease-in-out;
    background: rgba(0, 0, 16, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);

    /* background-color: yellow; */

    border-radius: 15px;

}

.courseContent {
    height: auto;
    transition: 0.4s ease-in-out;

    /* background-color: navy; */
}

.innerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out;
    /* background-color: orange; */
}

.programsGraphicButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programsButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;

    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    /* WebKit equivalent */
}

.programsButton .arrow path {
    fill: white;
}

.programsButton .circle {
    opacity: 0.8;

    border-radius: 50%;
    fill: rgba(2, 0, 100, 0.15);

    box-shadow: none;
    backdrop-filter: blur(6px) saturate(2) contrast(1.25);
    -webkit-backdrop-filter: blur(6px) saturate(2) contrast(1.25);

    transition: 300ms ease-out;
    -webkit-transition: 300ms ease-out;
    /* WebKit equivalent */
}

.programsButton .circularButton:hover .circle {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    /* WebKit equivalent */

    background: none;
    fill: rgba(2, 0, 100, 0.15);

    backdrop-filter: blur(8px) saturate(3) contrast(1.5);
    -webkit-backdrop-filter: blur(8px) saturate(3) contrast(1.5);

    box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    -webkit-box-shadow: 10px 10px 20px 5px #070113, -10px -10px 20px 5px #3b1ca2a2;
    /* WebKit equivalent */

    transition: 500ms ease-out;
    -webkit-transition: 500ms ease-out;
    /* WebKit equivalent */
}

.programsFrame {
    margin-top: -4rem;

    transform: scale(0.8);

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    z-index: 10;
}

.left-line {
    margin-right: -10px;
}

.arc {
    margin: 0;
    padding: 0;
}

.right-line {
    margin-left: -10px;
}


/* MAIN COURSE */

#mainCourse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 85vw;
    margin-top: 4rem;
    transition: 0.4s ease-in-out;

    margin-bottom: 10vh;
}

.upperBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
    width: 85vw;
    height: 2rem;

    transition: 0.6s ease-in-out;
}

.insideBorders {
    height: auto;
    width: 85vw;
    /* overflow: hidden; */

    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;

    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.4s ease-in-out;
}

.courseTitle {
    opacity: 1;
    transition: 0.4s ease-in-out;

    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.85);

    transition: 0.6s ease-in-out;
}

.topLine {
    margin-top: -100px;
    width: 100%;

    height: 445px;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    grid-template-areas:
        "logo circles button";
    ;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    transition: 0.6s ease-in-out;
}

#mainCourseTitle {
    grid-area: logo;
    border: 0;
    margin: 0;

    width: 20vw;
    height: 10vh;
    margin-left: 3rem;
    margin-right: -3rem;
    margin-top: -150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;

    transition: 0.6s ease-in-out;
}

#mainLogo {
    z-index: 10;
    font-style: italic;
    font-size: 50pt;
    transition: 0.6s ease-in-out;
}

#mainName {
    font-size: 16pt;
    color: #FFF;
    z-index: 10;
    transition: 0.6s ease-in-out;
    white-space: nowrap;
}

#mainCourseLines {
    z-index: 0;
    position: absolute;
    transform: scale(40%);
    transition: 0.4s ease-in-out;
}

.circles {
    justify-self: center;
    align-self: center;
    grid-area: circles;
    scale: 70%;

    transition: 0.6s ease-in-out;
}

.registerButton {
    grid-area: button;

    z-index: 20;
    transform: scale(1.3);
    justify-self: center;
    width: 15vw;

    margin-left: 3rem;
    margin-top: -150px;
    transition: 0.6s ease-in-out;

}

.registerButton .arrow path {
    fill: white;
}

.registerButton .circle {
    /* z-index: 0; */
    opacity: 0.8;

    border-radius: 50%;

    fill: rgba(2, 0, 100, 0.15);

    box-shadow: none;
    backdrop-filter: blur(4px) saturate(4);
    -webkit-backdrop-filter: blur(4px) saturate(4);

    transition: 300ms ease-out;
}

.registerButton .circularButton:hover .circle {
    transform: scale(1.4);
    background: none;

    backdrop-filter: blur(6px) saturate(6);
    -webkit-backdrop-filter: blur(6px) saturate(6);

    fill: rgba(2, 0, 100, 0.15);

    box-shadow: 10px 10px 20px 5px #070113,
        -10px -10px 20px 5px #3b1ca2a2;

    transition: 500ms ease-out;


}

.courseDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 2rem;

    opacity: 1;
    transition: 0.8s ease-in-out;

}

#mainCourseDescription {}

#theMainCourse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in-out;

}

.descriptionTitle {
    font-size: 32pt;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.6s ease-in-out;
    white-space: nowrap;
}

#theMainTitle {}

.descriptionText {
    font-size: 18pt;
}

#theMainText {}

.buttonAndConnector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;

    transition: 0.6s ease-in-out;
    transition-delay: 200ms;
}

.connector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    transform: scale(0.8);
    transition: 0.8s ease-in-out;
}

.expansionButton {
    cursor: pointer;
    z-index: 10;
    margin-top: -4.55rem;

    border-radius: 50%;

    backdrop-filter: blur(22px) saturate(1.2);
    -webkit-backdrop-filter: blur(22px) saturate(1.2);

    transform: scale(1) rotate(0deg);
    transition: 0.8s ease-in-out;

    /* background-color: rgba(0, 0, 0, 0.50); */
}

#mainCourseExpansion {}

.bars {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.lowerBorder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 12rem;
    width: 85vw;
    height: 2rem;
    transition: 0.8s ease-in-out;
    /* margin-bottom: -0.5rem */
}


#mainCourse.active .insideBorders>div:not(.topLine):not(.buttonAndConnector),
#mainCourse.active .courseDescription,
#mainCourse.active #mainCourseLines {
    opacity: 0;
    /* visibility: hidden; */
    transition: 0.6s ease-in-out;

}


#mainCourse.active,
#mainCourse.active .insideBorders,
#mainCourse.active .courseBG {
    height: auto;
    transition: 0.6s ease-in-out;

}

#mainCourse.active .innerContent {

    height: 0;
    /* opacity: 0; */
    transition: 0.8s ease-in-out;
}


#sustainabilityCourse.active .innerContent {

    height: 0;
    /* opacity: 0; */
    transition: 0.8s ease-in-out;
}

#mainCourse.active .bars {
    opacity: 0;
    transition: 0.8s ease-in-out;
}

#mainCourse.active .topLine {
    margin-top: -8.125rem;
    transition: 0.6s ease-in-out;
}

#mainCourse.active #mainCourseLines {
    filter: brightness(0.5);
    transition: 0.6s ease-in-out;
}

#mainCourse.active .buttonAndConnector {
    margin-top: -10rem;
    transition: 0.6s ease-in-out;
    transition-delay: 200ms;
}

#mainCourse.active .expansionButton {
    transform: scale(0.9) rotate(135deg);
    transition: 0.8s ease-in-out;
    transition-delay: 0.1s;
}

#mainCourse.active .connector {
    transition: 0.6s ease-in-out;
}

#mainCourse.active .lowerBorder {
    transition: 0.6s ease-in-out;
}

#mainCourse.active .circles {
    margin-top: -6rem;
    transform: scale(0.7);
    transition: 0.6s ease-in-out;
}



/* SUSTAINABILITY COURSE */
#sustainabilityCourse {
    margin-top: 20%;
}

#sustainabilityCourseTitle {
    grid-area: logo;
    justify-self: center;
    font-size: 25pt;
    margin-top: -210px;
    margin-left: 2rem;

    text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.75);
}

#sustainability {
    background: linear-gradient(90deg, rgba(196, 150, 255, 0.10) -13.12%, #FFF 24.23%, #FFF 89.25%, rgba(196, 150, 255, 0.00) 115.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stream {
    margin-left: 10rem;
    margin-right: -10rem;

    background: linear-gradient(90deg, #FFF 33.81%, rgba(196, 150, 255, 0.00) 153.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sustainabilityCourseDescription {
    opacity: 1;
    transition: 0.6s ease-in-out;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#sustainabilityDefinitionTitle {}

#sustainabilityDefinition {}

#sustainabilityBars {
    position: absolute;
    left: 0;
    top: 30%;
    transform: rotate(90deg);
    transition: 0.4s ease-in-out;
}

#sustainabilityConnector {}

#sustainabilityCourseExpansion {}

#sustainabilityText {
    width: auto;
}

#sustainabilityQuoteSection {
    /* margin-top: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    overflow: hidden;
}

#sustainabilityDivider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sustainabilityDesign {
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../Main/images/lines\(normal\).png") no-repeat center center;
    background-size: 300px;

    overflow: visible;

    margin-top: 2rem;
    margin-bottom: 2rem;

    transform: scale(0.8);
}

#sustainabilityQuote {
    font-size: 18pt;
    text-align: center;
    width: 30rem;
}

#sustainabilityCourse.active .insideBorders>div:not(.topLine):not(.expansionButton):not(.connector),
#sustainabilityCourse.active .courseDescription,
#sustainabilityCourse.active .boxBrace,
#sustainabilityCourse.active #sustainabilityCourseLine {}

#sustainabilityCourse.active .bars {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

#sustainabilityCourse.active {}

#sustainabilityCourse.active .topLine {}

#sustainabilityCourse.active #sustainabilityCourseDescription {
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in-out;
}

#sustainabilityCourse.active .buttonAndConnector {
    margin-top: -10rem;
    transition: 0.6s ease-in-out;
    transition-delay: 200ms;
}

#sustainabilityCourse.active .expansionButton {
    transform: scale(0.9) rotate(135deg);
    /* margin-top: -4.75rem; */
    transition: 0.8s ease-in-out;
    transition-delay: 0.1s;
}

#sustainabilityCourse.active .connector {
    transition: 0.6s ease-in-out;
}

#sustainabilityCourse.active .lowerBorder {
    transition: 0.6s ease-in-out;
}

#sustainabilityCourse.active .circles {
    margin-top: -10rem;
    transform: scale(0.7);
    transition: 0.6s ease-in-out;
}

#sustainabilityCourse.active #sustainabilityQuoteSection {
    opacity: 0;
    transform: scale(0.8);
    transition: 0.6s ease-in-out;
    transition-delay: 0.1s;
}



/* Footer Page */
#footerPage {
    grid-area: footer;
    z-index: 10;

    height: auto;
    background: url("../Programs/images/LowFoldBlender(Figma).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1245px) {}

@media only screen and (min-width: 1101px) {
    .programsGraphicButton {
        display: none;
    }

    .minimizedConnector {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .courseContent,
    .courseBG {
        width: 90vw;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #sustainabilityCourse {
        width: 90vw;
    }

    #mainCourse {
        width: 90vw;
    }

    .upperBorder {
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .lowerBorder {
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: -0.5rem;
    }

    .insideBorders {
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .topLine {
        margin-top: -120px;
        width: 90vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 10% 20%;
        grid-template-areas:
            "graphics"
            "connector"
            "logo";

        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 1rem;
    }

    .courseTitle {
        grid-area: logo;
        padding: 0;
        margin: 0;
        margin-right: 4rem;
    }

    #sustainabilityCourseTitle {
        transform: scale(1.6);
        margin: 0;
        margin-right: 10rem;
    }

    #mainCourseTitle {
        grid-area: logo;
        margin-right: 4rem;
        margin-top: 0rem;
    }

    .programsGraphicButton {
        grid-area: graphics;
    }

    .minimizedConnector {
        display: block;
        grid-area: connector;
        margin-top: -2rem;
    }

    .programsButton {}

    .programsFrame {}

    .mainLogo {
        grid-area: logo;
        justify-content: center;
        align-items: center;
        justify-self: center;
        margin: 0;
        padding: 0;
    }

    .mainName {}

    .mainCourseLines {
        justify-self: center;
    }

    .circles {
        grid-area: graphics;
    }

    .registerButton {
        display: none;
    }

    .expansionButton {
        display: none;
    }

    .bars {
        display: none;
    }

    .buttonAndConnector {
        display: none;
    }

    #sustainabilityCourseDescription {
        width: 80vw;
    }

    #sustainabilityQuoteSection {
        width: 90vw;
    }
}

@media only screen and (max-width: 960px) {


    #footerPage {
        overflow: hidden;

        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #footerContent {
        width: 80%;
        height: 100%;
    }

    #footerBranding h3 {
        padding-top: 0rem;
        padding-left: 0rem;
    }

    #footerBranding {
        margin: 0;
    }

    #topRowFooter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;

        margin-top: 0rem;
    }

    #footerLogo {
        font-size: 100pt;
        padding-top: 0rem;
    }

    #clickableFooter {
        padding: 0;
    }

    #footerButton {
        margin: 0;
        /* padding-bottom: 6rem; */
        padding: 0;
        padding-top: 6rem;
    }

    #contactInfo {
        margin-bottom: 4rem;
        margin-top: 2rem;
        padding: 0;

    }

    #footerMore {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .linkTitle {
        font-size: 14pt;
    }

    #footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 20vw;
    }

    #program {
        display: flex;
        flex-direction: column;

        padding-left: 0rem;
    }


    #followInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #footerIconButtons {
        transform: scale(0.6);
        display: flex;

        margin-left: -4rem;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #established {
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }

    #estInfo {
        font-size: 12pt;

    }
}

@media only screen and (max-width: 875px) {
    /* Landing Content */
    #landingContent {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        height: auto;
    }

    #landingText {
        width: 50vw;
        /* margin-left: 4rem; */
        margin: 0;
        margin-top: 30vh;

    }
    
    #our {

        font-size: 60pt;
    }
    
    #programs {
        color: #D9D9D9;
        text-shadow: 2px 6px 12px rgba(0, 0, 0, 0.50);
        font-size: 65pt;
    }
    
    #landingParagraph {
        width: 90%;
        margin-top: 2rem;
        color: #FFF;
        font-size: 26pt;
    }
    
    #programsGraphicButton {
        margin: 0;
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (max-width: 725px) {
    .descriptionTitle {
        font-size: 28pt;
    }

}

@media only screen and (max-width: 615px) {

    .upperBorder {
        margin-top: -0.75rem;
    }

    .topLine {
        margin-top: -180px;
    }

    .circles {
        transform: scale(0.8);
    }

    .minimizedConnector {
        transform: scale(0.75);
        justify-self: center;
    }

    .programsGraphicButton {
        transform: scale(0.8);
        margin: 0;
    }

    #sustainabilityCourseTitle {
        transform: scale(1.2);
        margin-right: 6rem;
    }

    .descriptionTitle {
        font-size: 26pt;
    }

    .descriptionText {
        font-size: 16pt;
    }

    #sustainabilityQuote {
        font-size: 16pt;
        width: 80vw;
    
    }
}

@media only screen and (min-width: 461px) {

    .programsGraphicButton {
        margin-bottom: -4rem;
    }
}

@media only screen and (max-width: 460px) {
    .circles {
        margin-top: -3rem;
        transform: scale(0.6);
    }

    .programsGraphicButton {
        transform: scale(0.6);
        margin: 0;
    }

    .minimizedConnector {
        transform: scale(0.6);
        justify-self: center;
    }

    #mainCourseTitle {
        transform: scale(0.8);
    }

    #sustainabilityCourseTitle {
        transform: scale(1);
        margin-right: 5rem;
    }

    .descriptionTitle {
        font-size: 20pt;
    }

    .descriptionText {
        width: 80vw;
        font-size: 16pt;
    }
}

@media only screen and (max-width: 445px) {
    #footerLinks {
        font-size: 10pt;
    }

    .linkTitle {
        font-size: 11pt;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
    }
}